# ignore pkgs, bookmarks, etc.
auto-save-list
*bookmarks
custom.el
elpa*
eln*
eshell/
gkroam/
librime/
org-gcal/
projects
straight/
semantic*
tramp
recentf
request/
rime/
transient/
*lsp*
tree-sitter/

# ignore macOS stuff
.DS_Store
