# ignore pkgs, bookmarks, etc.
auto-save-list
elpa/
bookmarks
recentf
rime/
transient/
straight/
gkroam/
librime/
request/
org-gcal/
init-org-gcal.el
projects
# ignore roam db for now
org-roam.db
.org-id-locations

# ignore macOS stuff
.DS_Store
